<div>
  <h1>
    <%= @note.title %>
  </h1>
  <div>
    <%= markdown @note.content %>
  </div>
  <div>
    <%= link_to "Edit", edit_note_path(@note) %>
    <%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>