%h2.bold Add a Folder
%br
%br
= form_for @folder, html: { multipart: true } do |f|
  = f.label :name
  = f.text_field :name
  %br
  %br
  %br
  = f.submit 'Save', class: 'btn white-text deep-purple accent-3'
%br
%br
%br
