<div class="section no-pad-bot" id="index-banner">
  <div class="container center">
    <br><br>
    <h1 class="home-header header center grey-text text-darken-4">DevCloud</h1>
    <br>
    <%= image_tag 'devcloud-logo.png', class: 'home-logo' %>
    <br><br>
    <div class="row center">
      <h5 class="header col s12 light">Your personal space for wikis and files of any kind</h5>
    </div>
    <div class="row center">
      <a href="https://devcloud1.herokuapp.com/users/auth/github" class="btn-large yellow accent-4 grey-text text-darken-4">Log in with Github</a>
    </div>
    <br><br>

  </div>
</div>