.section.no-pad-bot#index-banner
  .container.center
    %br
    %br
    %h1.home-header.header.center.grey-text.text-darken-4 DevCloud
    %br
    = image_tag 'devcloud-logo.png', class: 'home-logo center'
    %br
    %br
    .row.center
      %h5.header.col.s12.light Your personal space for notes and files of any kind
    .row.center
      %a.btn-large.yellow.accent-4.grey-text.text-darken-4{ href: 'https://devcloud1.herokuapp.com/users/auth/github' } Sign in with Github
    %br
    %br