<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have a new user on DevCloud:</h1>
<p>Email: <%= @user.email %></p>
<p>IP: <%= @user.current_sign_in_ip %></p>
</body>
</html>