/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i,900,900i');
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simplemde.min";

$grey: #747E8D;
$black: #000;
$white: #FFF;

h3 a {
  color: $black;
}

.btn, .btn-large {
  border-radius: 8px !important;
}

.bold {
  font-weight: 900 !important;
}

.main-landing {
  background: url(header.svg) no-repeat;
  top: 0;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .main-landing {
    background: url(header-tablet.svg) no-repeat;
    top: 0;
    width: 100%;
    height: 100vh;
  }
}

.profile_pic {
    margin-top: .5em;
}

.mobile_profile_pic {
    margin-top: 20%;
}
.home-header {
  max-width: 75%;
  height: auto;
}

.home-logo {
    max-width: 30%;
    height: auto;
}

@media (min-width: 580px) {
    .home-header {
        font-size: 7.2rem;
    }
}

input:focus {
    border-bottom: 1px solid #000 !important;
    -webkit-box-shadow: 0 1px 0 0 #000 !important;
    -moz-box-shadow: 0 1px 0 0 #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.note-folder a {
  color: #651fff;
}

/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000 !important;
 box-shadow: 0 1px 0 0 #000 !important;
}

nav ul a#profile-pic:hover {
    background-color: rgba(0,0,0,0)
}

.pagination li.active {
    background-color: #651fff;
    width: 25px;
    height: 100%;
}

.pagination a {
    color: #000000;
}

textarea {
  border-radius: 8px;
  margin-top: 10px !important;
}

.white-text a {
    color: $white !important;
}
