<p>Hello <%= @resource.email %>!</p>

<p>It looks like you may have forgotten your password... Don't worry, we're here to help!</p>
<p>Click the link below to be taken back to DevCloud for a fresh new password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Cheers,</p>
<p>The DevCoud Team</p>
