<% unless @uploads.blank? %>
<table class="highlight">
  <thead>
  <tr>
    <th>File</th>
    <th>Download Link</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @uploads.each do |upload| %>
      <tr>
        <td><%= upload.name %></td>
        <td><%= link_to 'Download File', upload.attachment_url, target: '_blank', class: 'btn yellow accent-4 grey-text text-darken-4' %></td>
        <td><%= button_to 'Delete', upload, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn grey-text text-lighten-5 red darken-4', :onclick => "Materialize.toast('#{upload.name} Deleted', 4000)" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
    <p>It appears you haven't added any files yet... Lets fix that!</p>
      <%= link_to 'Add File', new_upload_path, class: 'btn yellow accent-4 grey-text text-darken-4' %>
<% end %>